
		<div>
			<div class="sm-space borders"></div>
			<div class="sm-space borders"></div>
			<div class="xs-space borders"></div>

<!--BOYERART     -->

			<div id = "boyerart-row" class="row borders">
				<div class="col-sm-2 borders"></div>
				<div class="col-sm borders">
					<router-link id= "logo" class="row justify-content-sm-center" to="/" >BOYERART</router-link>
				</div>
				<div class="col-sm-2 borders"></div>
			</div>

		
			<div class="xs-space borders"></div>

<!--Tagline      -->

			<div id = "tagline-row" class="row borders">
				<div class="col-sm-1 borders"></div>
				<div class="col-sm borders">
					<div id= "tagline" class="row justify-content-sm-center">Michael Boyer is a designer based out of Boulder, Colorado.</div>
				</div>
				<div class="col-sm-1 borders"></div>
			</div>

			
			<div class="xs-space borders"></div>

<!--Links      -->

			<div id = "link-row" class="row borders">
				<div class="col-sm-2 borders"></div>
				<div class="col-sm borders">
					<router-link class="nav-text row justify-content-sm-center" to="/web" >WEB</router-link> 
				</div>
				<div class="col-sm borders">
					<router-link class="nav-text row justify-content-sm-center" to="/illustration" >ILLUSTRATION</router-link>
				</div>
				<div class="col-sm borders">
					<router-link class="nav-text row justify-content-sm-center" to="/about" >ABOUT</router-link> 
				</div>
				<div class="col-sm-2 borders"></div>
			</div>

			<div class="xs-space borders"></div>
			<div class="xs-space borders"></div>
			<div class="xs-space borders"></div>

<!--Picture      -->
			
			<div id= "profile-picture-row" class="row borders">
				<img class="image" src="https://scontent.fapa1-1.fna.fbcdn.net/v/t31.0-8/278783_2203451016398_2279462_o.jpg?oh=a8de96b988b85323abbbb490aebb1576&oe=5A71C1B3"></img>
			</div>

			<div class="m-space borders"></div>
			<div class="m-space borders"></div>
			<div class="m-space borders"></div>
<!--About Me      -->

			<div class="row borders">
				<p>Hi, I’m Michael. I believe that equitable access to information and technology creates a more just and inclusive world. I'm skeptical about what is and am determined to transform how we consume news and comprehend information.</p>

				<p>This year I began writing a book to help UX Designers land the job they love. <a class="about-link" href="www........" >Sign up to my newsletter</a> to get updates.</p>

				<p>In my ex-lives I helped improve Medium's story discovery experience; I redesigned the <a class="about-link" href="www........" > Uber pickup experience</a>; I co-led the design and launch of the <a class="about-link" href="www........" >Amazon Prime Music service</a>; and I led the design of the <a class="about-link" href="www........" >London Barclays Bikes app.</a></p>

				<p>While most of my known projects are large-scale mobile redesigns, my practice really stems from many tiny obsessions with experience strategy, complex systems modelling, storycraft, personalization, machine learning, and behavioral design.</p>

				<p>Aside from all this I live to travel (52 countries and counting), I dig noisy music, abstract art, and I care deeply about equality and animal liberation.</p>

				<p>I’m based in Oakland, but originally hail from the tiny town of Umina Beach, Australia.</p>

				<p>Thanks for stopping by.</p>

			</div>

			<div class="m-space borders"></div>
			<div class="m-space borders"></div>
			<div class="m-space borders"></div>
		</div>


		
				






















