		<div>
		
			<div class="sm-space borders"></div>
			<div class="sm-space borders"></div>
			<div class="xs-space borders"></div>

<!--BOYERART     -->

			<div id = "boyerart-row" class="row borders">
				<div class="col-sm-2 borders"></div>
				<div class="col-sm borders">
					<router-link id= "logo" class="row justify-content-sm-center" to="/">BOYERART</router-link>
				</div>
				<div class="col-sm-2 borders"></div>
			</div>

		
			<div class="xs-space borders"></div>
			

<!--Tagline      -->

			<div id = "tagline-row" class="row borders">
				<div class="col-sm-1 borders"></div>
				<div class="col-sm borders">
					<div id= "tagline" class="row justify-content-sm-center">Michael Boyer is a designer based out of Boulder, Colorado.</div>
				</div>
				<div class="col-sm-1 borders"></div>
			</div>

			
			<div class="xs-space borders"></div>

<!--Links      -->

			<div id = "link-row" class="row borders">
				<div class="col-sm-2 borders"></div>
				<div class="col-sm borders">
					<router-link class="nav-text row justify-content-sm-center" to="/web" >WEB</router-link>
				</div>
				<div class="col-sm borders">
					<router-link class="nav-text row justify-content-sm-center" to="/illustration" >ILLUSTRATION</router-link>
				</div>
				<div class="col-sm borders">
					<router-link class="nav-text row justify-content-sm-center" to="/about" >ABOUT</router-link> 
				</div>
				<div class="col-sm-2 borders"></div>
			</div>

			<div class="xs-space borders"></div>
			<div class="xs-space borders"></div>
			<div class="xs-space borders"></div>

<!--Mayan Intro       -->

			<div class="black row xs-space borders"></div>
			
			<div class="black row borders">
				<div class="col-sm-1"></div>
				<div class="col-sm">
					<div class="illustration-head white-text black bebas row justify-content-sm-center">PHISH MAYAN REDESIGN</div>
				</div>
				<div class="bebas col-sm-1"></div>
			</div>

			<div class="black row xs-space borders"></div>
			<div class="black row xs-space borders"></div>
			<div class="black row xs-space borders"></div>

			<div class="black row borders">
				<div class="col-sm-12">

<!-- Mayan Intro Content ???????? why wont this justify? Why do italics cause a line break? -->

					<div class="head-content white-text black row justify-content-sm-center">The hieroglyphs of the ancient Maya is one of the worlds most beautiful forms of writing, however, stone carvings often yielded sloppy lines and hard-to-read glyps. I thought it deserved a makeover.  My goal for this project was to design a Mexico themed screen-printed concert poster for the fans the Rock and Roll superstars Phish. I wanted to capture the beauty of the ancient Maya writings, while invoking a feeling of modernity, elegance, and relaxation. </div>    
				</div>
			</div>

			<div class="black row m-space borders"></div>
			<div class="black row m-space borders"></div>

<!-- Mexico Photos      Why are these images not responsive-->

			<div  class="row borders">
				<div class="mex-column-photo col-sm-6">  
					<img class="img-responsive mex-photo" src="https://farm5.staticflickr.com/4499/37746290931_58ef03324d_h.jpg"></img>
				</div>
				<div class="mex-column-photo col-sm-6">
					<img class="img-responsive mex-photo" src="https://farm5.staticflickr.com/4460/37746300151_0e8748a928_b.jpg"></img>
				</div>
			</div>
			

<!-- Getting Started       -->

			<div class="m-space borders"></div>

			<div class="row borders">
				<div class="col-sm">
					<div id="getting-started" class="black-text bebas row">GETTING STARTED</div>
				</div>
				<div class="bebas col-sm-1"></div>
			</div>

			<div class="row borders">
				<div class="col-sm-12">

<!-- Getting Started Content -->

					<p class="row justify-content-sm-center">The first step to my process is demographic analysis. From a poll of 2438 Phish Fans or "Phans" I learned that 44.5% of Phish Fans or "Phans" are 25-34 years old, and 27.2% are 35-44 years old.</p>

					<p class="row justify-content-sm-center">The first step to my process is demographic analysis. From a poll of 2438 Phish Fans or "Phans" I learned that 44.5% of Phish Fans or "Phans" are 25-34 years old, and 27.2% are 35-44 years old.</p>
					



					

						   
				</div>
			</div>

			</div>
		</div>